In [12]:
## dictionaries are assosiated data structures

weekdays = {"monday":1,"tuesday":2,"wednesday":3,"thursday":4,"friday":5,"saturday":6,"sunday":7}
weekdays

{'monday': 1,
 'tuesday': 2,
 'wednesday': 3,
 'thursday': 4,
 'friday': 5,
 'saturday': 6,
 'sunday': 7}

In [13]:
sorted(weekdays)

['friday', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday']

In [14]:
sorted(weekdays.values())

[1, 2, 3, 4, 5, 6, 7]

In [15]:
len(weekdays)

7

In [16]:
del weekdays['friday']
#weekdays

In [17]:
weekdays

{'monday': 1,
 'tuesday': 2,
 'wednesday': 3,
 'thursday': 4,
 'saturday': 6,
 'sunday': 7}

In [19]:
'sunday' in weekdays

True

In [20]:
'friday' in weekdays

False

In [22]:
### different ways of creating dictionerys

mydict = {1:"cat",2:"dog",3:"piegeon"}
#mydict[4] = "tiger"
#mydict[5] = "elephant"
#mydict[6] = "simbhaa"

mydict

{1: 'cat', 2: 'dog', 3: 'piegeon'}

In [23]:
mydict[4] = "tiger"
mydict[5] = "elephant"
mydict[6] = "simbhaa"

mydict

{1: 'cat', 2: 'dog', 3: 'piegeon', 4: 'tiger', 5: 'elephant', 6: 'simbhaa'}

In [26]:
mydic = dict([(1,"naveen"),(3,"praveen"),(5,"praneeth")])
mydic

{1: 'naveen', 3: 'praveen', 5: 'praneeth'}

In [30]:
mydct = {}

ranking = [1,2,3,4]

fruits = ["apple","graphs","oranges","guava"]

for i in range (len(ranking)):
    mydct[ranking[i]] = fruits[i]
    
    
mydct

{1: 'apple', 2: 'graphs', 3: 'oranges', 4: 'guava'}

In [35]:
print(mydct.get(2))
### if that key value is not present in the given dictionary it will just return None not gives an error like in normal program
print(mydct.get(5))

graphs
None

## fromkeys(iterable,value)

In [36]:
lis = [1,2,3,4,5]
dict.fromkeys(lis)

{1: None, 2: None, 3: None, 4: None, 5: None}

In [38]:
{}.fromkeys(range(1,6),12)

{1: 12, 2: 12, 3: 12, 4: 12, 5: 12}

## set default(key,value)

- it is a dict methodwhich search for a key in a dictionary if it is present it will return the value of the key

In [39]:
students = {"naveen":49,"vijisha":50,"mounika":48}
students

{'naveen': 49, 'vijisha': 50, 'mounika': 48}

In [40]:
students.setdefault("naveen")

49

In [44]:
print(students.setdefault("vasundara"))

## as  sruthi is not present in given dict but vasundara as we added in dict by setdefault method
students["sruthi"]

None

KeyError: 'sruthi'

In [45]:
##vasundara as we added in dict by setdefault method

students

{'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': None}

In [47]:
students.setdefault("rajasri",49)

49

In [48]:
students

{'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': None, 'rajasri': 49}

## update()

### Dictionary.update(dictionary)

#### Dictionary is first dict,   dictionary is second dict

In [50]:
list1 = [1,2,3,4]
list2 = ["A","B","C",'D']

students = {'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': 46}
fruits = {1: 'apple', 2: 'graphs', 3: 'oranges', 4: 'guava'}


### we can simply concatenate the two lists 
list1 + list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [52]:
### but in dictionary it is not possible
students + fruits

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [55]:
## but by using the update method and the values will store in first dict and second dict will remain same

fruits.update(students)
print(fruits)
print(students)

{1: 'apple', 2: 'graphs', 3: 'oranges', 4: 'guava', 'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': 46}
{'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': 46}

In [59]:
students = {'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': 46}
list1 = ["uma",47]

students.update([list1])
students

{'naveen': 49, 'vijisha': 50, 'mounika': 48, 'vasundara': 46, 'uma': 47}

In [63]:
students.update(rajasri=48,soundarya=46)
students

{'naveen': 49,
 'vijisha': 50,
 'mounika': 48,
 'vasundara': 46,
 'uma': 47,
 'rajasri': 48,
 'soundarya': 46}

In [64]:
### in this see the rajasri marks are updated from 48 to 50 if keys are same in the given two dicts then it will update the 
## values of that keys

students.update(rajasri=50,)
students

{'naveen': 49,
 'vijisha': 50,
 'mounika': 48,
 'vasundara': 46,
 'uma': 47,
 'rajasri': 50,
 'soundarya': 46}

In [21]:
#Write a Python script to sort (ascending and descending) a dictionary by value. 

# Function calling
def dictionairy():

# Declaring hash function
    key_value ={}

# Initializing the value
    key_value[2] = 56
    key_value[1] = 2
    key_value[5] = 12
    key_value[4] = 24
    key_value[6] = 18
    key_value[3] = 323


print ("Task 3:-\nKeys and Values sorted",
"in alphabetical order by the value")

# Note that it will sort in lexicographical order
# For mathematical way, change it to float

print(sorted(key_value.items(), key = lambda kv:(kv[1], kv[0])))

def main():
# function calling
    dictionairy()

# main function calling
if __name__=="__main__":
    main()

Task 3:-
Keys and Values sorted in alphabetical order by the value
[(1, 2), (5, 12), (6, 18), (4, 24), (2, 56), (3, 323)]

In [14]:
mydict.values()

dict_values(['five', 'two', 'three', 'one', 'four'])

In [15]:
def dictionairy():
    

    key_value ={}

    key_value[2] = 56       
    key_value[1] = 2 
    key_value[5] = 12 
    key_value[4] = 24
    key_value[6] = 18      
    key_value[3] = 323 



    for i in sorted(key_value.values()):
        print(i,end=" ")
        
    """for i in sorted (key_value) :
        print ((i, key_value[i]), end =" ")"""

def main():
    # function calling
    dictionairy()             
      
# Main function calling
if __name__=="__main__":      
    main()

2 12 18 24 56 323

In [19]:
key_value.items()

list

In [23]:
#Write a Python script to add a key to a dictionary.

mydict =  {0: 10, 1: 20}
mydict[2]=30
mydict

{0: 10, 1: 20, 2: 30}

In [25]:
##Write a Python script to concatenate following dictionaries to create a new one

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic={}
for d in (dic1,dic2,dic3):
    dic.update(d)
dic

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [46]:
# Write a Python script to check whether a given key already exists in a dictionary

key_value ={}

key_value[2] = 56       
key_value[1] = 2 
key_value[5] = 12 
key_value[4] = 24
key_value[6] = 18      
key_value[3] = 323 



key=5
if key in key_value:
    print("the given key is already present in dictionary")

enter the key1

In [49]:
## Write a Python program to iterate over dictionaries using for loops.

key_value ={}

key_value[2] = 56       
key_value[1] = 2 
key_value[5] = 12 
key_value[4] = 24
key_value[6] = 18      
key_value[3] = 323 

for d in key_value:
    print(d,key_value[d])

2 56
1 2
5 12
4 24
6 18
3 323

In [50]:
d = {'x': 10, 'y': 20, 'z': 30} 
for dict_key, dict_value in d.items():
    print(dict_key,'->',dict_value)

x -> 10
y -> 20
z -> 30

In [4]:
## Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

mydict = {}

n= int(input("enter the range of dictionary  : "))
for i in range(1,n+1):
    
    mydict[i] = i*i
    
    
print(mydict.items())
print(type(mydict.items()))

enter the range of dictionary  : 5
dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)])
<class 'dict_items'>

In [59]:
# Write a Python script to merge two Python dictionaries.

d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [67]:
## Write a Python program to sum all the items in a dictionary.

s = mydict.items()

key =[]
value =[]
for i,j in s:
    key.append(i)
    value.append(j)
key_sum = sum(key)
value_sum = sum(value)

print("the sum of keys are",key_sum,"\n","the sum of values are",value_sum)

the sum of keys are 55
 the sum of values are 729

In [77]:
## Write a Python program to remove a key from a dictionary. 

#del(mydict[1])
#del(mydict[9])

mydict

#we delete the 1 and 9 th keys from dictionary

{2: 56, 3: 323, 4: 24, 5: 12, 6: 18, 7: 49, 8: 64, 10: 100}

In [81]:
#Write a Python program to map two lists into a dictionary.

list1 = [1,2,3,4]
list2 = ["apple","dog","cat","bat"]
lst_dic = {}
for i in range(len(list1)):
    lst_dic[list1[i]] = list2[i]
    
lst_dic

{1: 'apple', 2: 'dog', 3: 'cat', 4: 'bat'}

In [85]:
## Write a Python program to sort a dictionary by key

key_value ={}

key_value[2] = 56       
key_value[1] = 2 
key_value[5] = 12 
key_value[4] = 24
key_value[6] = 18      
key_value[3] = 323 

for i in sorted(key_value.keys()):
    print(i , "  ",key_value[i])

1    2
2    56
3    323
4    24
5    12
6    18

In [89]:
## Write a Python program to remove duplicates from Dictionary

student_data = {
    'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value
        
print("\n")
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [90]:
## Write a Python program to combine two dictionary adding values for common keys

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

d={}
for i,j in d1.items():