In [ ]:
### lists are mutable 
## linear datastructures
## mixed type elements
## variable length 
## zero based indexing

In [ ]:
## List Operations

1. replace 
2. insert 
3. sort
4. delete 
5. append
6. reverse

In [7]:
## 1. replace 

a = [1,2,3,4,5]
print(a[3])
a[3]="naveen"
print(a[3])

a

4
naveen

[1, 2, 3, 'naveen', 5]

In [8]:
## 2. insert 

a.insert(2,"vijishaa")
a

[1, 2, 'vijishaa', 3, 'naveen', 5]

In [10]:
## 3. sort
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [18]:
b = [3,1,2,4,8,4.980,899]
b.sort()
b

[1, 2, 3, 4, 4.98, 8, 899]

In [19]:
## 4. delete 

del b[2]
b

[1, 2, 4, 4.98, 8, 899]

In [21]:
del b
b

NameError: name 'b' is not defined

In [23]:
## 5.append

ab = [1.3,42,1,2,6]
ab.append("naveen")
ab

[1.3, 42, 1, 2, 6, 'naveen']

In [25]:
## 6. reverse

ab.reverse()
ab

[1.3, 42, 1, 2, 6, 'naveen']

## Python 60 Questions 

https://towardsdatascience.com/60-questions-to-test-your-knowledge-of-python-lists-cca0ebfa0582

## Sequences

### list , tuples, strings are called sequences

1. length 
2. slice
3. index
4. concate
5. max value
6. select
7. count
8. membership
9. min value 
10. sum

In [2]:
alphabet = ['a', 'b', 'c']
integers = [1, 2, 3]
a = list(zip(alphabet, integers))
a

[('a', 1), ('b', 2), ('c', 3)]

In [4]:
a = list(range(1,6))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [15]:
from functools import reduce

def subtract(a,b):
    return a - b


numbers = [100,10,5,1,2,7,5]
reduce(subtract, numbers) #=> 70

70

In [1]:
def remove_negatives(x):
    return x*2
    
a = [-10, 27, 1000, -1, 0, -30]

[x for x in map(remove_negatives, a)]

[-10, 27, 1000, -1, -30]

In [26]:
## Count occurrences of each value in a list
# One option is to iterate over a list and add counts to a dictionary. But the easiest option is to import the Counter class from collections and pass the list to it.


from collections import Counter

li = ['blue', 'pink', 'green', 'green', 'yellow', 'pink', 'orange']
Counter(li)
#=> Counter({'blue': 1, 'pink': 2, 'green': 2, 'yellow': 1, 'orange': 1})

Counter({'blue': 1, 'pink': 2, 'green': 2, 'yellow': 1, 'orange': 1})

In [42]:
def unique(n):
    lis = []
    
    for a in n:
        if a not in lis:
            lis.append(a)
    return lis

def count_freq(z,li):
    count = []
    
    for i in z:
        c = 0
        for j in li:
            if i == j:
                c = c+1
        count.append(c) 
    
    return count  


li = ['blue', 'pink', 'green', 'green', 'yellow', 'pink', 'orange']
z = unique(li)
cou = count_freq(z,li)

#print(z)
#print(cou)


a  = dict(zip(z,cou))
print(a)

{'blue': 1, 'pink': 2, 'green': 2, 'yellow': 1, 'orange': 1}

In [49]:
lis = [1,2,3,4,5]
names = ["naveen","sruthi","angel","vasundara","suma"]

a = dict(zip(lis , names))
a

dic = {}

for i in len(lis):
    dic[lis[i]] = names[i]

TypeError: 'int' object is not iterable

In [1]:
list1 = [1,2,3,4,5]

tem= list1[0]
last = list1[-1]

list1[0] = last
list1[-1] = tem

list1

[5, 2, 3, 4, 1]

In [2]:
# Python3 program to swap elements
# at given positions

# Swap function
def swapPositions(list, pos1, pos2):

    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [4]:
 #1 : Using clear() method

# Python program to clear a list
# using clear() method 
  
# Creating list
GEEK = [6, 0, 4, 1]
print('GEEK before clear:', GEEK) 
  
# Clearing list 
GEEK.clear() 
print('GEEK after clear:', GEEK)

GEEK before clear: [6, 0, 4, 1]
GEEK after clear: []

In [5]:
#Method 1: Using the reversed() built-in function.
#In this method, we neither reverse a list in-place(modify the original list), nor we create any copy of the list. Instead, we get a reverse iterator which we use to cycle through the list.


# Reversing a list using reversed()
def Reverse(lst):
    return [ele for ele in reversed(lst)]
      
# Driver Code
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [7]:
lst = [10, 11, 12, 13, 14, 15]
for a in reversed(lst):
    print(a)

15
14
13
12
11
10

In [8]:
# Python program to copy or clone a list
# Using the Slice Operator
def Cloning(li1):
    li_copy = li1[:]
    return li_copy

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [9]:
# Python code to clone or copy a list
# Using the in-built function extend()
def Cloning(li1):
    li_copy = []
    li_copy.extend(li1)
    return li_copy

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [15]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10

count = [x]
c = 0
for i in lst:
    if i ==x:
        
        c+=1
    
print('the number {} has occured {} times'.format(x,c))

the number 10 has occured 3 times

In [14]:
# Python code to count the number of occurrences
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count

# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

In [16]:
# Python program to find the sum
# and average of the list

L = [4, 5, 1, 2, 9, 7, 10, 8]


# using sum() method
count = sum(L)

# finding average
avg = count/len(L)

print("sum = ", count)
print("average = ", avg)

sum =  46
average =  5.75

In [17]:
# Python3 code to demonstrate
# Sum of number digits in List
# using loop + str()

# Initializing list
test_list = [12, 67, 98, 34]

# printing original list
print("The original list is : " + str(test_list))

# Sum of number digits in List
# using loop + str()
res = []
for ele in test_list:
    sum = 0
    for digit in str(ele):
        sum += int(digit)
    res.append(sum)

# printing result
print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

## List Compression

- [ i for i in x ]
- [ i for i in x  if condition ]
- [ i if condition else statement  for i in x  ]

In [1]:
[i  for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
[i  for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [3]:
[i if i%2==0 else i**3 for i in range(10) ]

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [5]:
a = [1,2,3,4]
a*10

[1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4]

In [6]:
[ i*10 for i in a]

[10, 20, 30, 40]

In [7]:
words = ['apple ',"naveen",'puppy']

[i.upper() for i in words]

['APPLE ', 'NAVEEN', 'PUPPY']

In [8]:
st = 'bnmsafjk hu984098ink  jhfu098rui uwjrkjh 78ruijn kwanh'

[ i for i in st if i.isdigit()]

['9', '8', '4', '0', '9', '8', '0', '9', '8', '7', '8']

In [9]:
[ i for i in st if i.isalpha()]

['b',
 'n',
 'm',
 's',
 'a',
 'f',
 'j',
 'k',
 'h',
 'u',
 'i',
 'n',
 'k',
 'j',
 'h',
 'f',
 'u',
 'r',
 'u',
 'i',
 'u',
 'w',
 'j',
 'r',
 'k',
 'j',
 'h',
 'r',
 'u',
 'i',
 'j',
 'n',
 'k',
 'w',
 'a',
 'n',
 'h']