In [1]:
fruits = {"apple ","mangoes"}
fruits

{'apple ', 'mangoes'}

In [2]:
type(fruits)

set

In [3]:
fruits.add("graphs")
fruits

{'apple ', 'graphs', 'mangoes'}

In [4]:
### immutable sets created by using the keyword  "frozenset"

animals = frozenset(["lion","tiger","panther"])
animals

frozenset({'lion', 'panther', 'tiger'})

In [5]:
animals.add("cat")

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
### creating the empty set

s = {}
print(type(s))

emptyset = set()
print(type(emptyset))

<class 'dict'>
<class 'set'>

In [7]:
### sets doesnt have the duplicate values 

num = {1,3,2,3,4,4,3,45,6,6,7,8,9,3,7,5}
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45}

In [8]:
emptyset = set(num)
emptyset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45}

## Sets Operations 

1. membership 
2. add
3. remove 
4. union 
5. clear
6. intersection 
7. difference
8. sym.difference
9. size
10. copy

In [9]:
## 1. membership  --> uses the in operator to check the membership

s = {1,3,5,"hello",5.52}

6 in s

False

In [10]:
### 2. add

s.add("naveen")
s.add(100)
s.add(99.98)
s

{1, 100, 3, 5, 5.52, 99.98, 'hello', 'naveen'}

In [11]:
### 3. remove

s.remove(99.98)
s

{1, 100, 3, 5, 5.52, 'hello', 'naveen'}

In [12]:
### 4.union (|)-->  duplicates are removed if they are present in both sets

s2 = {"apple",10}

s|s2

{1, 10, 100, 3, 5, 5.52, 'apple', 'hello', 'naveen'}

In [13]:
#### 5. clear --> will clear the all values


s2.clear()
s2

set()

In [17]:
### 6. intersection (&)--> will give the common values

s1 = {1,5,6,7,"naveen","vijisha"}
s2 = {"naveen","vijisha" ,66}

s1&s2

{'naveen', 'vijisha'}

In [18]:
## 7.difference (-)

## it will give the values only present in the s1 not from the s2
print(s1-s2)


## it will give the values only present in the s2 not from the s1
print(s2-s1)

{1, 5, 6, 7}
{66}

In [19]:
### 8.sym.difference (symmetric difference) --> will not give the same values other values are given
 
s1^s2

{1, 5, 6, 7, 66}

In [21]:
### 9.size--> len()
print(len(s1))
print(len(s2))

6
3

In [23]:
### 10. copy 

s3 = s2.copy()
s3

{66, 'naveen', 'vijisha'}